* {

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  color: white;
}

.scramble {
  width: 80vw;
  height: 100vh;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #3E2868, #5C3284 50%, #7D3C98);
}

.scramble h1 {
  background: purple;
  padding: 20px;
}

.content-header {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* margin-top: 20px; */
}

.content-buttons {
display: flex;
justify-content: center;
gap: 30px;
margin-top: 20px;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .scramble {
    width: 90vw;
    height: 100vh;
  }

  .scramble h1 {
    font-size: 2rem;
  }

  .content-input input {
    width: 80%;
  }

  .content-input button {
    width: 80%;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .scramble {
    width: 100vw;
    height: 100vh;
  }

  .scramble h1 {
    font-size: 1.5rem;
  }

  .content-input input {
    width: 90%;
  }

  .content-input button {
    width: 90%;
  }
}

